#nav-bar {
  background-color: #ffc107;
  height: 80px;
  width: 100%;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  z-index: 2;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  padding-right: 10px;
  float: left;
}

#nav-bar .header {
  line-height: 80px;
  font-size: 2em;
  float: left;
}

/* #nav-bar .compose-icon {
  position: relative;
  margin-left: 75%
} */

#nav-bar .button {
  float: right;
  margin-top: 1em;
  height: 46px;
  width: 120px;
  /* background: url(https://image.flaticon.com/icons/svg/69/69480.svg) no-repeat scroll 1% 1%; */
  background-image: url(https://image.flaticon.com/icons/svg/185/185961.svg);
  background-repeat: no-repeat;
  background-position: 4px 5px;
  background-size: 27%;
  text-indent: 30px;
  /* padding-left:30px; */
}

#nav-bar .not-clicked {
  opacity: 0.8;
}

#nav-bar .not-clicked:hover {
  opacity: 1;
  border: 1.5px solid #343a40;
}

#nav-bar .clicked {
  opacity: 1;
  border: 1.5px solid #343a40;
}