.tweets-container article {
  background-color: #5f666b;
  margin: 2em;
  border-radius: 9px;
  border: 0.6px solid black;
  height: 181px;
}

.tweets-container article:hover {
  background-color: #343a40;
}

.tweets-container header {
  height: 52px;
}

.tweets-container img {
  border-radius: 9px;
  float: left;
  margin-left: 0.5em;
  position: relative;
  bottom: 5px;
}

.tweets-container h2 {
  margin-top: 0px;
  width: 180px;
  position: relative;
  bottom: 3px;
  margin-left: 0.2em;
  float: left;
  font-size: 1.3em;
}

.tweets-container h3 {
  margin-top: 10px;
  padding-top: 8px;
  text-align: right;
  font-size: initial;
  width: 150px;
  margin-left: 225px;
}

.tweets-container p {
  margin-top: 0px;
  padding: 20px;
  word-break: break-all;
  height: 84px;
  background-color: #f8f9fa;
  margin-bottom: 0px;
  color: #343a40;
}

.tweets-container h5 {
  margin-top: 10px;
  padding-left: 0.5em;
  font-weight: bolder;
  font-style: italic;
}

.tweets-container i {
  visibility: hidden;
  font-style: italic;
  float: right;
  padding: 1.5%;
  position: relative;
  bottom: 2.8em;
  font-weight: bold;
}

.tweets-container i:hover {
  cursor: pointer;
}

.tweets-container article:hover i {
  visibility: visible;
}